.container-red {
  background-color: $rasberry;
}

.title-red h2 {
  color: $rasberry;
}
.title-white h2 {
  color: white;
}

h2 {
  letter-spacing: $letter-spacing-spinnaker-title;
  font-size: 1.5rem;
  padding: 1rem;
  font-family: $headers-font;
}

.container-concept {
  background-color: white;
  h2 {
    color: $rasberry;
  }
}

h4 {
  color: $hazelnut;
  font-family: $body-font;
  font-size: 1.5rem;
}

p {
    font-size: $font-text;
    margin-bottom: 0;
    padding-top: 0.25rem;
  }

.list-for-who {
  display: flex;
  margin: 0.25rem;
}

.red-word {
  color: $rasberry;
}

.icon-for-who {
  height: 1.5rem;
  margin-right: 1rem;
}

.number-step {
  font-size: 2rem;
  color: $hazelnut;
}

.container-brown {
  background-color: $light-hazelnut;
}

.img-about {
  height: 13rem;
  border-radius: 2px;
}

.img-about-lg {
  margin-left: 8rem;
}

.text-about {
  border: $hazelnut 1.5px solid;
  padding: 1.5rem;
  margin-top: 1rem;
}

.text-about-lg {
  margin-right: 8rem;
  margin-left: -12rem;
  margin-top: 4rem;
}

.text-about-xl {
  margin-right: 8rem;
  margin-left: -14rem;
  margin-top: 4rem;
}
