.main-container {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 9rem; /* height of your footer */
}
.container-login {
  margin-top: 4.5rem;
}
.container-red {
  background-color: $rasberry;
}

.title-red h2 {
  color: $rasberry;
}
.title-white h2 {
  color: white;
}

.title-brown h2 {
  color: $hazelnut;
}

h2 {
  letter-spacing: $letter-spacing-spinnaker-title;
  font-size: 1.3rem;
  padding: 1rem;
  font-family: $headers-font;
  margin-bottom: 0;
}

h3 {
    color: $hazelnut;
    font-weight: bold;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
  }

.card-title {
  height: 3rem;
}

.card-img-top {
  margin-top: 2rem;
}

.container-blogposts {
  h2 {
    color: $rasberry;
  }
}

.container-concept {
  background-color: white;
  h2 {
    color: $rasberry;
  }
}

h4 {
  color: $hazelnut;
  letter-spacing: $letter-spacing-spinnaker-title;
  font-size: 1.3rem;
  padding: 1rem;
  font-family: $headers-font;
}

p {
    font-size: $font-text;
    margin-bottom: 0;
    padding-top: 0.25rem;
  }

.text-white {
  color: white;
  padding-top: 0 !important;
  margin-bottom: 1rem !important;
}

.list-for-who {
  display: flex;
  margin: 0.25rem;
}

.red-word {
  color: $rasberry;
  font-weight: lighter;
}

.icon-for-who {
  height: 1.2rem;
  margin-right: 1rem;
  margin-top: 0.25rem
}

.lign {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $hazelnut;
  margin: 1rem 9rem;
  padding: 0;
}

.number-step {
  font-size: 2.5rem;
  font-weight: bold;
  color: $hazelnut;
}

.container-brown {
  background-color: $light-hazelnut;
}

.img-about {
  max-width: 80%;
  border-radius: 2px;
  margin: 1rem;
}

.text-about {
  max-width: 80%;
  border: $hazelnut 1.5px solid;
  padding: 1.5rem;
  margin: 1rem
}

.container-hazelnut {
  background-color: $hazelnut;
}

.form-control {
  margin: 0.68rem;
  background-color: transparent;
  border: white 1px solid;
  border-radius: 0px;
}

.form-control::placeholder {
  color: white;
  opacity: 1;
  font-size: $font-text;
}

textarea.form-control {
  margin-bottom: 0;
  width: 95%;
}

.form-row {
  margin: auto;
  max-width: 60rem;
}
.anchor {
  display: block;
  position: relative;
  top: -4.5rem;
  visibility: hidden;
}

.numbers-div {
  margin-bottom: 4rem;
}


@media screen and (min-width:992px) {
    .img-about {
      width: 100%;
      margin-right: -6rem !important;
      margin-top: 0;
    }

    .text-about {
      margin-left: -6rem !important;
      margin-top: 8rem;
      max-width: 100%;
    }
}

.row-about {
  margin: auto;
  max-width: 70rem;
}
