<div class="footer">
  <div class="footer-copyright text-center">
    <p>Mentions Légales</p>
  </div>
  <div class="footer-infos text-center">
    <p>Valérie Teper</p>
    <p>Chez Valou Pâtisserie</p>
    <a href="contact.chezvalou@gmail.com"><p>contact.chezvalou@gmail.com</p></a>
    <a href="tel:+33618661933"><p>06 18 66 19 33</p></a>
    <div class="design-webdev">
      <p>© Copyright Chez Valou Pâtisserie | Design : <a href="http://www.alixdesalins.com/" target="_blank">alix ds</a> | Développement web : <a href="https://www.claire-gautier.com" target="_blank">Claire Gautier</a></p>
    </div>
  </div>
  <div class="footer-links text-center">
    <a href="https://www.facebook.com/chezvaloupatisserie" target="_blank"><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.instagram.com/chez_valou_patisserie/" target="_blank"><i class="fab fa-instagram"></i></a>
  </div>
</div>
