<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="navbar-container-image d-flex h-100">
    <%= link_to root_path, class: "navbar-brand justify-content-center align-self-center" do %>
      <%= image_tag "logo.png" %>
    <% end %>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li>
        <%= link_to "ACTUALITÉS", blogposts_path, class: "nav-item" %>
      </li>
      <li>
        <a href="#concept" class="nav-item">CONCEPT</a>
      </li>
      <li>
        <a href="#about" class="nav-item">À PROPOS</a>
      </li>
      <li>
        <a href="#shipping" class="nav-item">LIVRAISON</a>
      </li>
      <li>
        <a href="#contact" class="nav-item">CONTACT</a>
      </li>
    </ul>
  </div>
</div>
