.banner {
  background-size: cover;
  background-position:center;
  background-image: image-url("banner.png");
  padding: 150px 0;
  height: 100vh;
  margin-top: 4.5rem;
}

.image-banner img {
  max-width: 90%;
  margin-bottom: 0.25rem;
}

@media screen and (min-width:992px) {
  .image-banner img {
    max-width: 330px;
  }
  .row-banner {
    width: 100%;
  }
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 1.2rem;
  font-weight: bold;
  font-family: $body-font;
  max-width: 100%;
}

.col-banner {
  background-color: rgba(233,197,183, 0.6);
  padding-bottom: 1rem;
  padding-right: 0;
}

