.btn-ghost {
  font-family: $body-font;
  color: white;
  font-size: $font-size-base;
  border: 2px solid white;
  padding: 8px 32px;
  border-radius: 0px;
}

.btn-ghost:hover {
  color: white;
  font-weight: bolder;
}

.btn-ghost-black {
  color: black;
  border: 1px solid black;
}

.btn-ghost-black:hover {
  color: black;
  font-weight: bolder;
}

.btn-white {
  font-family: $body-font;
  color: $hazelnut;
  font-size: 1rem;
  padding: 8px 24px;
  border-radius: 0px;
  font-weight: lighter;
  background-color: white;
}

.btn-white:hover {
  color: $hazelnut;
  font-weight: bolder;
}
