.btn-ghost {
  font-family: $body-font;
  color: white;
  font-size: 1rem;
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 3px;
  font-weight: lighter;
}

.btn-ghost:hover {
  color: white;
  font-weight: bolder;
}


.btn-white {
  font-family: $body-font;
  color: $hazelnut;
  font-size: 1rem;
  padding: 8px 24px;
  border-radius: 3px;
  font-weight: lighter;
  background-color: white;
}

.btn-white:hover {
  color: $hazelnut;
  font-weight: bolder;
}
