.card {
  border: none;
  background-color: transparent;
  font-family: $body-font;
}

.card-body {
  padding: 1.5rem 0;
}

.card-text {
  color: white;
  font-size: $font-text;
}

.card-img-top {
  height: 12rem;
  object-fit: cover;
  border-radius: 2px;
}

.card-link {
    color: $hazelnut !important;
    font-size: 0.75rem;
    text-decoration: none;
}

.card-title {
  h3 {
    color: $hazelnut;
    font-size: 1rem;
    width: 100%;
    text-align: center;
  }
}
