.footer {
  background: $rasberry;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9rem;
  padding: 0 1rem;
  color: rgba(0,0,0,0.3);
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .footer {
    flex-direction: column;
    height: 12rem;
    padding-bottom: 2rem;
  }
  .footer-item {
    margin-bottom: 0.4rem;
  }
  .footer :nth-child(1) { order: 3; }
  .footer :nth-child(2) { order: 1; }
  .footer :nth-child(3) { order: 2; }
}

.footer p {
  color: white;
  margin: 0 !important;
}

.footer-links {
  display: flex;
  align-items: center;
}

.image-social {
  height: 2rem;
  margin: 0.25rem;
}

.design-webdev {
  margin-top: 0.5rem;
}

.design-webdev p {
  font-size: 0.6rem;
}

.design-webdev a {
  text-decoration: none;
  color: white;
}

.link-legals {
  color: white;
  text-decoration: none;
}

.footer-item:last-child {
  position: absolute;
  bottom: 3px;
  width:100%;
  right: 0;
  text-align: center;
}
