.footer {
  background: $rasberry;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9rem;
  padding: 0px 10px;
  color: rgba(0,0,0,0.3);
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer p {
  color: white;
  margin: 0 !important;
}

.footer-links {
  display: flex;
  align-items: center;
}

.image-social {
  height: 2rem;
  margin: 0.25rem;
}

.design-webdev {
  margin-top: 0.5rem;
}

.design-webdev p {
  font-size: 0.6rem;
}

.design-webdev a {
  text-decoration: none;
  color: white;
}

.link-legals {
  color: white;
  text-decoration: none;
}

.footer-item:last-child {
  position: absolute;
  bottom: 3px;
  width:100%;
  right: 0;
  text-align: center;
}
